aiohttp==3.8.3
aiosignal==1.3.1
apturl==0.5.2
asn1crypto==1.5.1
async-timeout==4.0.2
attrs==22.2.0
bcrypt==4.0.1
blinker==1.5
Brlapi==0.8.3
certifi==2022.12.7
cffi==1.15.1
chardet==5.1.0
charset-normalizer==2.1.1
chatgpt==2.2212.0
click==8.1.3
colorama==0.4.6
command-not-found==0.3
commonmark==0.9.1
cryptography==39.0.0
cupshelpers==1.0
dbus-python==1.2.18
defer==1.0.6
distro==1.8.0
distro-info==1.0
duplicity==0.8.21
et-xmlfile==1.1.0
fasteners==0.18
frozenlist==1.3.3
future==0.18.2
greenlet==2.0.1
gyp==0.1
html5lib==1.1
httplib2==0.21.0
idna==3.4
importlib-metadata==6.0.0
inflection==0.5.1
jaraco.classes==3.2.3
jeepney==0.8.0
jsonlines==3.1.0
jsonschema==4.17.3
keyring==23.13.1
language-selector==0.1
launchpadlib==1.10.18
lazr.restfulclient==0.14.5
lazr.uri==1.0.6
lockfile==0.12.2
louis==3.20.0
macaroonbakery==1.3.1
Mako==1.2.4
MarkupSafe==2.1.1
mechanize==0.4.8
monotonic==1.6
more-itertools==9.0.0
multidict==6.0.4
netifaces==0.11.0
numpy==1.24.1
oauthlib==3.2.2
olefile==0.46
openai==0.26.0
openapi==1.1.0
openpyxl==3.0.10
pandas==1.5.2
pandas-stubs==1.5.2.230105
paramiko==2.12.0
pexpect==4.8.0
Pillow==9.4.0
playwright==1.29.1
protobuf==4.21.12
ptyprocess==0.7.0
pycairo==1.20.1
pycparser==2.21
pycups==2.0.1
pyee==9.0.4
Pygments==2.14.0
PyGObject==3.42.1
PyJWT==2.6.0
pymacaroons==0.13.0
PyNaCl==1.5.0
pyparsing==3.0.9
pyRFC3339==1.1
pyrsistent==0.19.3
python-apt==2.3.0+ubuntu2.1
python-dateutil==2.8.2
python-debian==0.1.49
pytz==2022.7
pyxdg==0.28
PyYAML==6.0
reportlab==3.6.12
requests==2.28.1
rich==13.0.1
SecretStorage==3.3.3
six==1.16.0
systemd-python==234
tls-client==0.1.8
tqdm==4.64.1
types-pytz==2022.7.0.0
typing_extensions==4.4.0
ubuntu-advantage-tools==27.12
ubuntu-drivers-common==0.0.0
ufw==0.36.1
unattended-upgrades==0.1
urllib3==1.26.13
usb-creator==0.3.7
wadllib==1.3.6
webencodings==0.5.1
xdg==5.1.1
xkit==0.0.0
yarl==1.8.2
zipp==3.11.0
