/* App.css */

body {
  font-family: 'Roboto', sans-serif;
  background-color: #f2f2f2;
  margin: 0;
  padding: 0;
}

.container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 20px;
}

h1, h2, h3, h4, h5, h6 {
  font-family: 'Montserrat', sans-serif;
  font-weight: bold;
  color: #2d2d2d;
}

a {
  color: #2d2d2d;
  text-decoration: none;
}

button {
  background-color: #2d2d2d;
  color: #f2f2f2;
  font-family: 'Roboto', sans-serif;
  font-size: 16px;
  padding: 10px 20px;
  border-radius: 5px;
  border: none;
  cursor: pointer;
  transition: all 0.3s ease;
}

button:hover {
  background-color: #f2f2f2;
  color: #2d2d2d;
  border: 1px solid #2d2d2d;
}
.card-container .card-background {
  background-color: #F5F5F5;
}
input {
  font-family: 'Roboto', sans-serif;
  font-size: 16px;
  padding: 10px 20px;
  border-radius: 5px;
  border: 1px solid #2d2d2d;
}

.form-container {
  background-color: #f2f2f2;
  padding: 20px;
  border-radius: 5px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}